<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!--<listener>
  <listener-class>com.jobhunt.dispatcher.CtxListener</listener-class>
  </listener>
    -->
  <servlet>
  <servlet-name>s1</servlet-name>
  <servlet-class>com.jobhunt.dispatcher.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>s1</servlet-name>
  <url-pattern>/actions/*</url-pattern>
  </servlet-mapping>
</web-app>
